<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des Patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.5/css/bootstrap.min.css">
</head>
<body>
<div class="p-3">
    <div class="card">
        <div class="card-header">Liste des Patients</div>
        <div class="card-body">
            <form method="get" th:action="@{/index}" class="mb-3">
                <div class="input-group">
                    <label class="input-group-text" for="keyword">Keyword</label>
                    <input type="text" id="keyword" name="keyword" class="form-control" th:value="${keyword}">
                    <button type="submit" class="btn btn-info">Search</button>
                </div>
            </form>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Date de Naissance</th>
                    <th>Malade</th>
                    <th>Score</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p : ${ListPatients}">
                    <td th:text="${p.id}">1</td>
                    <td th:text="${p.nom}">Nom</td>
                    <td th:text="${p.dateNaissance}">Date</td>
                    <td th:text="${p.malade}">Malade</td>
                    <td th:text="${p.score}">Score</td>
                    <td>
                        <a onclick="return confirm('Êtes-vous sûr ?')"
                           th:href="@{/delete(id=${p.id})}"
                           class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <ul class="nav nav-pills">
                <li class="nav-item" th:each="v, item : ${pages}">
                    <a class="nav-link"
                       th:href="@{/index(page=${item.index}, keyword=${keyword})}"
                       th:classappend="${(currentPage == item.index) ? 'active' : ''}"
                       th:text="${item.index}">1</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
